[submodule "linux"]
	path = linux
	url = https://github.com/F1uctus/linux
	branch = msm8916/7.3-rc2
[submodule "lk2nd"]
	path = lk2nd
	url = https://github.com/F1uctus/lk2nd
	branch = zte-blade-s6
[submodule "pmaports"]
	path = pmaports
	url = https://github.com/F1uctus/pmaports
	branch = zte-blade-s6
